{% extends 'base.html' %}

{% block title %}Create Post{% endblock %}

{% block content %}

<div class="form-container">

    <h1>Create Post</h1>

    <form id="create-post-form">

        <div class="form-group"> 
            <label for="title">Title</label> 
            <input type="text" id="title" name="title"
                placeholder="Enter your post title" required> 
        </div>

        <div class="form-group">
            <label for="content">Content</label>

            <textarea id="content" name="content" rows="8" placeholder="Write your post..." required></textarea>
        </div>

        <button type="submit">Create Post</button>

        <p id="post-message"></p>

    </form>

</div>

{% endblock %}

{% block scripts %}

<script>
    document.getElementById('create-post-form').addEventListener('submit', async function (event) {
        event.preventDefault();

        const title = document.getElementById('title').value.trim();
        const content = document.getElementById('content').value.trim();
        const message = document.getElementById('post-message');

        if (!title || !content) {
            message.textContent = 'Content and Title are required';
            return;
        }

        try {
            const response = await fetchWithAuth('/api/posts/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    title: title,
                    content: content
                })
            });

            const data = await response.json();

            if (!response.ok) {
                message.textContent = data.detail || 'Failed to create post.';
                return;
            }

            message.textContent = 'Post created successfully!';

            setTimeout(() => {
                window.location.href = '/profile/';
            }, 500);

        } catch (error) {
            console.error(error);
            message.textContent = 'Something went wrong.';
        }
    });
</script>

{% endblock %}