{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>Latest Posts</h1>

<a href="{% url 'create_post' %}" class="btn">Create Post</a>

<div id="posts" class="posts">
    <p>Loading posts...</p>
</div>
{% endblock %}

{% block scripts %}
<script>
    async function loadPosts() {
        try{
            const response = await fetchWithAuth('/api/posts/')
            if(!response) return
            if(!response.ok){
                throw new Error('Failed to load posts!')
            }
            const posts = await response.json()
            const container = document.getElementById('posts')
            container.innerHTML = ''
            posts.forEach(post => {
                const card = document.createElement('div')
                card.className = 'post-card'
                card.innerHTML = `
                    <h2>${post.title}</h2>
                    <p>${post.content}</p>
                    <a href="/post/${post.id}/" class="btn">Read More</a>
                `
                container.appendChild(card)
            });
        }
        catch (error){
            document.getElementById('posts').innerHTML = `<p>Failed to load posts</p>`
            console.error(error)
        }
    }
    loadPosts()
</script>
{% endblock %}