{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
    <div>
        <h1>Latest Posts</h1>
        <p>Discover the latest thoughts and stories from our community.</p>
    </div>

    <a href="{% url 'create_post' %}" class="btn">
        Create Post
    </a>
</div>

<div id="posts" class="posts">
    <p>Loading posts...</p>
</div>
{% endblock %}

{% block scripts %}
<script>
    function truncateText(text, maxLength = 180) {
        if (text.length <= maxLength) {
            return text;
        }

        return text.substring(0, maxLength).trim() + '...';
    }

    function formatDate(dateString) {
        const date = new Date(dateString);

        return date.toLocaleString([], {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
            hour: 'numeric',
            minute: '2-digit'
        });
    }

    async function loadPosts() {
        try{
            const response = await fetchWithAuth('/api/posts/')
            if(!response) return
            if(!response.ok){
                throw new Error('Failed to load posts!')
            }
            const posts = await response.json()
            const container = document.getElementById('posts')
            container.innerHTML = ''
            posts.forEach(post => {
                const card = document.createElement('div')
                card.className = 'post-card'
                card.innerHTML = `
                    <h2>${post.title}</h2>
                    <div class="post-meta">
                        <span>By ${post.author_username}</span>
                        <span>${formatDate(post.created_at)}</span>
                    </div>

                    <p>${truncateText(post.content)}</p>

                    <a href="/post/${post.id}/" class="btn">Read More</a>
                `
                container.appendChild(card)
            });
        }
        catch (error){
            document.getElementById('posts').innerHTML = `<p>Failed to load posts</p>`
            console.error(error)
        }
    }
    loadPosts()
</script>
{% endblock %}